### Please refer to my two seperate workbooks for further details.  I've utilized pickling to support the questions that require proof. 

Titanic%20-%20Worksheet.ipynb

Lusitania%20-%20worksheet.ipynb

# Project 2:  Lucid Titanic Sleuthing

## Part 1: Developing an understanding of the data

#### Based on the description of the data you read in the readme describe in your own words this data.

The 'Readme' file provides a link to data points for passengers only. The data is descriptive with values that help to distinquish age, sex, passenger class as well as spousal, sibling and parental connections.

#### Based on our conceptual understanding of the columns in this data set.  What are the reasonable range of the values for the Sex, Age, SibSp, Parch columns.

Average age on board was 30. 
Females were 36% while males were 64%.
Sibling spouse passenger avererage was 50%. 
Parents and children were 39% of the passenger type

### Open the data in sublime text is there anything that jumps out to you?

The data seems to be in good order with very little required clean up.

## Part 2: reading the data in

#### Now read the data into a Pandas DataFrame

In [12]:
import pandas as pd
import numpy as np

#### Check that the age column doesn't have any unreasonable values

All of the age values look good.

#### Check for missing values.  How do you know that a value is missing?

263 passengers have NaN values for age.

#### Does it makes sense to guess at the value?

With further exploration and filtering, ages could be averaged based upon various surrounding values (Average age per class and sex, name and cabin correlations, sibling and parent correlations, spouse correlations).

## Part 3: data imputation

#### Well letâ€™s say that it does... You likely noticed that Age has some missing values. How many are missing?

263 names have null values

#### For the Age of the passangers ... how would you guess at the missing values using the other data present in the CSV.

Average the age of all passengers with values.

In [13]:
pd.read_pickle('average_age_by_sex')

              age
sex
female  28.687088
male    30.585228
All     29.881138

## Part 4: Group Statistics

#### Are there any groups that were especially adversely affected in the Titanic wreck? (justify your response numerically)

Third class males were affected the most. On average we can see that men that had third class status made up for just over 50% of the deaths.

In [14]:
pd.read_pickle('survival_by_class_sex')

                  sum              mean
              decease survive   decease   survive
sex    pclass
female 1          5.0   139.0  0.034722  0.965278
       2         12.0    94.0  0.113208  0.886792
       3        110.0   106.0  0.509259  0.490741
male   1        118.0    61.0  0.659218  0.340782
       2        146.0    25.0  0.853801  0.146199
       3        418.0    75.0  0.847870  0.152130
All             809.0   500.0  0.618029  0.381971

#### Are there any groups that outperformed the survival of the latter group? (justify your response numerically)

From the same table we can see that first clas females had the greatest chance of survival. Only five females from first class were killed.

In [15]:
pd.read_pickle('survival_by_class_sex')

                  sum              mean
              decease survive   decease   survive
sex    pclass
female 1          5.0   139.0  0.034722  0.965278
       2         12.0    94.0  0.113208  0.886792
       3        110.0   106.0  0.509259  0.490741
male   1        118.0    61.0  0.659218  0.340782
       2        146.0    25.0  0.853801  0.146199
       3        418.0    75.0  0.847870  0.152130
All             809.0   500.0  0.618029  0.381971

## Part 5:  Comparative Statistics:  Lusitania

#### Are there any groups that were especially adversely affected in the Titanic wreck? (justify your response numerically)

_Im assuming you mean the Lusitania for this question_

We failed to reject the null hypothesis for both class and sex. The averages of all three classes were very close on average. Males were higher in percentage for deaths in all classes with the exception of second class.

In [17]:
pd.read_pickle('survival_by_class_sex_lusitania')

                  sum               mean
             deceased survived  deceased  survived
sex pclass
0   First        57.0     34.0  0.626374  0.373626
    Second      186.0    108.0  0.632653  0.367347
    Third        68.0     40.0  0.629630  0.370370
1   First       122.0     78.0  0.610000  0.390000
    Second      188.0    119.0  0.612378  0.387622
    Stowaway      3.0      0.0  1.000000  0.000000
    Third       171.0     94.0  0.645283  0.354717
All             795.0    473.0  0.626972  0.373028

#### Are there any groups that outperformed the survival of the latter group? (justify your response numerically)

Women in second class had more deaths on average.

In [18]:
pd.read_pickle('survival_by_class_sex_lusitania')

                  sum               mean
             deceased survived  deceased  survived
sex pclass
0   First        57.0     34.0  0.626374  0.373626
    Second      186.0    108.0  0.632653  0.367347
    Third        68.0     40.0  0.629630  0.370370
1   First       122.0     78.0  0.610000  0.390000
    Second      188.0    119.0  0.612378  0.387622
    Stowaway      3.0      0.0  1.000000  0.000000
    Third       171.0     94.0  0.645283  0.354717
All             795.0    473.0  0.626972  0.373028

#### What does the group-wise survival rate imply about circumstances during these two accidents?

## Titanic survival by sex

In [20]:
pd.read_pickle('sex_survived_titanic')

survived    0    1
sex
female    127  339
male      682  161

## Titanic survival by class

In [22]:
pd.read_pickle('class_survived_titanic')

survived    0    1
pclass
1         123  200
2         158  119
3         528  181

## Lusitania survival by sex

In [21]:
pd.read_pickle('sex_survived_lusitania')

survived    0    1
Sex
Female    311  182
Male      484  291

## Lusitania survival by class

In [24]:
pd.read_pickle('class_survived_lusitania')

survived    0    1
pclass
First     179  112
Second    374  227
Stowaway    3    0
Third     239  134